# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# aun no implementados
src/data/directivos.js

# ERROR AL ACTUALIZAR LOS CAMBIOS DE REMOTO A LOCAL:
# ❗❗❗❗❗❗ SOBREESCRIBIR LOS CAMBIOS LOCALES CON LOS CAMBIOS REMOTOS:
# -> git fetch origin (asegurarse que el origin es GITHUB => /test)
# -> git checkout test
# -> git reset --hard origin/test
