@import url("./components/reset.css");
@import url("./modules/alert.css");
@import url("./components/classname.css");
@import url("./components/dataset.css");

body{
  min-height: 100vh;
  height: 100%;
  background: var(--bg-primary);
}

/* CONTAINER DE PAGINA */
.container{
  position: relative;
  max-width: 1450px;
  min-height: 100%;
  margin: auto;
  display: grid;
  padding: 0;
  gap: var(--container-gap);
}
  .container .navigation_container{
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px -2px var(--clr-nav-item);
    padding: .5rem 1rem;
    background: var(--bg-primary);
    min-height: 100%;
  }
  /* CONTENEDOR DE CADA SECCION (APLICATIVO INTEGRADO) */
  .container .main_container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--container-gap);
    
  }
  /* CADA SECCION INTEGRADA */
  .main_container .main_content{
    display: grid;
    gap: 2rem;
    padding: 2rem;
    transition: height 2s linear;
  }

/* ----------------------------------------------------------------------- */
@media screen and (max-width: 868px){
  .main_container{
    grid-template-columns: 1fr;
  }
}
