@import url("./components/reset.css");
@import url("./modules/alert.css");
@import url("./components/classname.css");
@import url("./components/dataset.css");

body{
  height: 100dvh;
  background: var(--bg-primary);
  transition: background var(--tr-e-out);
}

/* CONTAINER DE PAGINA */
.container{
  position: relative;
  max-width: 1450px;
  min-height: 100dvh;
  margin: auto;
  padding: 0;
}

  .container .navigation_container{
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px -2px var(--clr-nav-item);
    padding: .5rem 1rem;
    background: var(--bg-primary);
    height: auto;
    max-height: 62px;
  }
  /* CONTENEDOR DE CADA SECCION (APLICATIVO INTEGRADO) */
  .container .main_container{
    margin: 2rem auto 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--container-gap);
    height: max-content;
    
  }
  /* CADA SECCION INTEGRADA */
  .main_container .main_content{
    display: grid;
    gap: 2rem;
    padding: 1.5rem;
    transition: height 2s linear;
    height: 100%;
  }
  .container footer{
    position: relative;
}
/* ----------------------------------------------------------------------- */
@media screen and (max-width: 868px){
  .container .navigation_container{
    max-height: 100%;
  }
  .main_container{
    grid-template-columns: 1fr;
  }
}
