@import url("./components/reset.css");
@import url("./modules/alert.css");
@import url("./components/classname.css");
@import url("./components/dataset.css");

html{
  font-family: system-ui;
}
body{
  background: var(--bg-body);
  min-height: 100vh;
}

/* CONTAINER DE PAGINA */
.container{
  position: relative;
  max-width: 1450px;
  margin: auto;
  display: grid;
  padding: 0;
  gap: var(--container-gap);
}
  .container .navigation_container{
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px -2px var(--clr-nav-item);
    padding: .5rem 1rem;
    background: linear-gradient(to right, #0e0e1ac7, #212141a4, #131322ab);
    backdrop-filter: blur(5px);
  }
  /* CONTENEDOR DE CADA SECCION (APLICATIVO INTEGRADO) */
  .container .main_container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--container-gap);

  }
  /* CADA SECCION INTEGRADA */
  .main_container .main_content{
    display: grid;
    gap: 2rem;
    padding: 2rem;
    transition: height 2s linear;
  }

/* ----------------------------------------------------------------------- */

@media screen and (max-width: 868px){
  .navigation_container{
    flex-direction: column;
  }
  .navigation_title{
    width: 100%;
  }
  .navigation_title .btn_show{
    visibility: visible;
    transform: scale(1);
  }
  .navigation_list{
    display: grid;
    grid-template-rows: 0fr;
    padding: 0;
    transition: grid-template-rows .5s linear, padding .5s linear, margin .5s linear;
  }
  .navigation_list--active{
    grid-template-rows: 1fr;
    margin-top: 2rem;
    padding: 1rem;
  }
  .navigation_list--active .navigation_ul{
    overflow: visible;
  }

  .navigation_ul{
    overflow: hidden;
    flex-direction: column;
  }
  .main_container{
    grid-template-columns: 1fr;
  }
/* SECCION ANEXOS */
  .office_group-search{
    grid-template-areas:
      "search indicator"
      "form indicator";
  }
  .office_result-card{
    margin: auto;
  }
}
@media  screen and (max-width: 568px){
  /* SECCION ANEXOS */
  .office_group-search{
    grid-template-areas:
      "search"
      "indicator"
      "form";
  }
  .office_item .office_result{
    --card-w: 150px;
  }
  .office_result-card{
    flex-direction: column;
    text-align: center;
  }
  
}