form[class*="form_text"]{
  box-shadow: var(--shadow-card-style-2);
}
.label{
    color: var(--text-primary);
  }
  .label-sm{
    color: var(--text-secondary);
    font-size: .9rem;
  }
  .label-line{
    --size: .9rem;
    font-size: var(--size);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  .label-btn{
    padding: .5rem;
    color: var(--text-tertiary);
    background: transparent;
  }
  .label-btn:hover{
    color: var(--text-primary);
  }
  /* ----------------------------------- */
  .text_title{
    text-align: center;
    font-size: 3rem;
    font-family: system-ui;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 40px;
    transition: color 1s linear;
    color: var(--clr-blue-500);
    /* color: var(--bg-primary); */
    -webkit-text-stroke: 1px grey;
    user-select: none;
    text-shadow:
    2px 4px 1px #434399,
    2px 5px 5px #33338a;
  }


  .just-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ORGANIZAR BLOQUES */
    /* 1 - CONTENIDO + ICONO */
  /* CLASE PARA CONTENIDO + ICONO */
  /* FORM PANEL DEFAULT */
  
  
  /* BUTTONS ICON STYLE */
  .btn_form{
    margin: auto;
    width: 100%;
    max-width: 15rem;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-menu);
    height: var(--size-menu);
  }
  .btn_menu svg{
    width: calc(var(--size-menu) * 0.7);
    height: calc(var(--size-menu) * 0.7);
    background: transparent;
    fill: var(--clr-btn);
    transition: fill var(--tr-linear);
  }
  .btn_icon{
    display: grid;
    place-items: center;
    width: var(--size-icon);
    height: var(--size-icon);
    border-radius: 5px;
  }
  .btn_icon svg{
    width: calc(var(--size-icon) * 0.7) !important;
    height: calc(var(--size-icon) * 0.7) !important;
    background: transparent;
    fill: var(--clr-btn);
    transition: fill var(--tr-linear), scale var(--tr-linear);
  }
  .btn_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size-icon);
    height: var(--size-icon);
    border-radius: 5px;
  }
  .btn_item svg{
    width: calc(var(--size-icon) * 0.6);
    height: calc(var(--size-icon) * 0.6);
    background: transparent;
    fill: var(--clr-btn);
    transition: fill var(--tr-linear);
  }
  .img-icon{
    width: calc(var(--size-icon) * 0.7);
    height: calc(var(--size-icon) * 0.7);
    max-width: var(--size-icon);
    max-height: var(--size-icon);
    object-fit: cover;
    filter: invert(1);
  }
  /* BTN SHOW MENU HAMBURGUER */
  .btn_show{
    visibility: hidden;
    transform: scale(0);
    --clr-btn: var(--clr-button);
    scale: 1;
    transition: visibility var(--tr-e-out), transform var(--tr-e-out), scale var(--tr-e-out);
  }
  .btn_show:hover{
    --clr-btn: var(--clr-button-active);
  }
  .btn_show:active{
    scale: 0.95;
  }
  
  /* boton switch */
  .btn_lock{
    position: relative;
    border-radius: 50%;
    --clr-btn: var(--text-inactive);
    transition: box-shadow var( --tr-e-out);
  }
  .btn_lock:hover{
    --clr-btn: var(--text-primary)
  }
  .btn_lock svg:last-child{
    position: absolute;
    inset: 0;
    margin:auto;
    transform: scale(0);
  }
  .btn_lock--active{
    --clr-btn: var(--text-active);
    box-shadow: var(--shadow-card-style-2);
  }
  .btn_lock--active svg:first-child{
    transform: scale(0);
  }
  .btn_lock--active svg:last-child{
    transform: scale(1);
  }
  /* boton de enviar del formulario*/
  .btn_submit{
    background: var(--bg-invert-1);
    color: var( --text-invert);
    transition: var(--btn-submit-tr);
  }
  .btn_submit:hover{
    background: var(--bg-invert-2);
  }
  .btn_submit:active{
    transform: scale(0.980);
  }
  /* boton para expandir contenido */
  .btn_expand{
    background: transparent;
    --clr-btn: var( --text-tertiary);
    transition: transform var(--tr-linear);
  }
  .btn_expand:hover{
    --clr-btn: var( --text-primary);
  }
  .btn_expand--active{
    --clr-btn: var( --text-primary);
    transform: rotate(135deg) scale(1.3);
  }
  
  /* boton de estilos de fuente */
  
  .btn_style{
    background: var(--bg-secondary);
    border: 1px solid var(--bg-tertiary);
    --clr-btn: var( --text-inactive);
    transition: border-color var(--tr-e-out), background var(--tr-e-out), box-shadow var(--tr-e-out);
  }
  .btn_style:hover{
    border-color: var(--text-secondary);
    --clr-btn: var( --text-secondary);
  }
  .btn_style--active{
    background: var(--bg-invert-3);
    border-color: var(--bg-invert-3);
    --clr-btn: var( --text-invert);
  }
  .btn_style--active:hover{
    box-shadow: var(--btn-style-hover-shadow);
    background: var(--bg-invert-1);
    border-color: var(--bg-invert-1);
    --clr-btn: var(--text-invert);
  }
  
  /* boton que solo cambia la clase activo */
  .btn_toggle{
    border-radius: 50%;
    transition: transform var( --tr-e-out), box-shadow var( --tr-linear);
    --clr-btn: var(--text-inactive);
  }
  .btn_toggle:hover{
    --clr-btn: var( --text-secondary);
  }
  .btn_toggle:active{
    transform: scale(0.7);
  }
  .btn_toggle--active{
    --clr-btn: var( --text-active);
    box-shadow: var(--shadow-card-style-2);
  }
  /* .btn_toggle--active:hover{
    filter: brightness(150%);
  } */
  /* BOTON CONGIG */
  .btn_config{
    --clr-btn: var(--btn-config-clr);
  }
  .btn_config:hover{
    --clr-btn: var(--btn-config-clr-hover);
  }
  /* BOTON DELETE */
  .btn_delete{
    cursor: pointer;
    --clr-btn: var(--bg-invert-2);
    transition: all var( --tr-e-out);
  }
  .btn_delete:hover{
    --clr-btn: var(--clr-red-500);
  }
  .btn_delete:active{
    transform: scale(0.9);
    --clr-btn: var(--clr-red-400);
  }
  /* BOTON GROUP DE CADA TEXTO */
  .btn_copy-paste{
    position: relative;
    background: var(--bg-btn-oncopy);
    --clr-btn: var(--bg-invert-1);
    transition: scale var( --tr-e-out), background var(--tr-e-out);
  }
  .btn_copy-paste:hover{
    background: var(--bg-invert-1);
    --clr-btn: var(--bg-primary);
  }
  .btn_copy-paste:active{
    scale: 0.60;
  }

  /* BUTTON FIJAR */
  .btn_fixed{
    --clr-btn: var(--bg-invert-3);
    transition: transform var(--tr-e-out);
  }
  .btn_fixed:hover{
    --clr-btn: var(--bg-invert-1);
  }
  .btn_fixed:active{
    --clr-btn: var(--bg-invert-1);
    transform: rotate(20deg) scale(0.900);
  }
  .btn_fixed--active{
    --clr-btn: var(--bg-invert-1);
    transform: rotate(20deg) scale(0.900);
  }

  
  /* OUTPUT - TEXT */
  .txt_bold{
    font-weight: bold;
  }
  .txt_italic{
    font-style: italic;
  }
  .txt_underline{
    text-decoration: underline;
  }
  .txt_strike{
    text-decoration: line-through;
  }