/* LABEL */
span[data-for="button"]{
    cursor: pointer;
    transform: scale(1);
    transition: transform var(--tr-e-out);
  }
  span[data-for="button"]:active{
    transform: scale(0.95)
  }
  
  /* FORMULARIOS */
  .form_group-row[data-position="relative"]{
    position: relative;
  }
  
  /* ENFASIS DE TEXTOS */
  [data-for="title-1"]{
    font-size: 1.3rem;
    text-wrap: balance;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 2rem;
  }
  [data-for="txt-3"]{
    display: inline;
    text-wrap: balance;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--clr-txt);
  }