/* BOX TOGGLE */
.box-toggle{
    position: relative;
    cursor: pointer;
    background: var(--inactive);
    width: var(--size);
    min-width: var(--size);
    height: calc(var(--size) - calc(var(--size) * 0.60));
    border-radius: calc(var(--size) - calc(var(--size) * 0.5));
    transition: left .5s, right .5s, background .5s;
}
.box-toggle .circle-toggle{
    position: absolute;
    --circle-width: calc(var(--size) - calc(var(--size) * var(--circle)));
    --circle-height: calc(var(--size) - calc(var(--size) * var(--circle)));
    width: var(--circle-width);
    min-width: var(--circle-width);
    height: var(--circle-height);
    background: var(--clr-circle);
    border-radius: 50%;
    top: calc(50% - calc(calc(var(--size) - calc(var(--size) * var(--circle))) / 2));
    transform: translateX(4px);
    transition: transform var(--tr-e-out), background var(--tr-e-out);
    pointer-events: none;
}
.box-toggle.box-toggle--active{
    background: var(--active);
}
.box-toggle.box-toggle--active .circle-toggle{
    transform: translateX(calc(var(--size) * 0.6));
    background: var(--clr-circle-active);
}