.box_item{
    display: grid;
    grid-template-areas:
        "search form indicator";
    transition: grid-template-areas .5s linear;
    gap: 2rem;
}
.box_search-config{
    grid-area: search;
    display: grid;
    align-items: center;
    gap: 1em;
    padding: 1rem 2rem;
    box-shadow: var(--shadow-anx);
    background: var(--bg-card-menu);
    border-radius: 20px;
    transition: box-shadow var(--tr-e-out);
    --size: 60px;
    --circle: 0.7;
    --inactive: var(--clr-white-800);
    --active: var(--clr-blue-500);
    --clr-circle: var(--clr-white-400);
    --clr-circle-active: var(--clr-blue-50);
}
.box_search-config:hover{
    box-shadow: var(--shadow-anx-active);
}
    .box_search-config .label_toggle{
        display: flex;
        gap: 1em;
    }
    .box_search-config span{
        pointer-events: none;
        color: var(--text-inactive);
        transition: color var(--tr-e-out);
    }
    .box_search-config:hover span{
        color: var(--text-active);
    }
.box_item .form_search{
    grid-area: form;
    box-shadow: var(--shadow-anx);
    background: var(--bg-card-menu);
    border-radius: 20px;
    transition: box-shadow var(--tr-e-out);
    --size-icon: 32px;
}
.box_item .form_search:hover{
    box-shadow: var(--shadow-anx-active);
}
    .form_search input[type="search"]::placeholder{
        font-style: italic;
    }
    .form-panel{
        min-width: 300px;
        display:grid;
        padding: 2rem;
        gap: 1rem;
      }
      .form_group{
        display: grid;
        gap: .5rem;
      }
      #office-form-search.form-panel .form_group{
        grid-template-columns: auto 1fr;
        gap:.7rem;
      }
      #directivo-form-search.form-panel .form_group{
        grid-template-columns: 1fr;
      }
        .form_group .form_input{
          width: 100%;
          padding: .5rem;
          font-size: 1rem;
          background: var(--bg-card);
          border: var(--border-card-anx);
          border-radius: 10px;
          color: var(--text-tertiary);
          transition: color var(--tr-e-out), border-color var(--tr-e-out);
        }
        .form_group .form_input:hover,
        .form_group .form_input:focus{
          color: var(--text-primary);
          border: var(--border-card-anx-active);
        }
        .form_group .form_input::placeholder{
          color: var(--text-tertiary);
        }
      .btn-view-anexos{
        --clr-btn: var(--bg-invert-3);
        padding: .3rem;
        border-radius: 10px;
        box-shadow: var(--shadow-filter);
      }
      .btn-view-anexos.--active{
        --clr-btn: var(--bg-invert-1);

        box-shadow: var(--shadow-filter-active);
      }
      .form_group-row{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: .5rem;
        align-items: center;
      }
      .form_group-row:has(textarea){
        align-items: flex-start;
      }
    
      .form_group-rowcenter{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: .5rem;
        align-items: center;
      }
      .form_group-col3{
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: .5rem;
        align-items: center;
      }
      .form_group-col4{
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        gap: .5rem;
        align-items: center;
      }


.box_item .box_search-indicator{
    grid-area: indicator;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    background: var(--bg-card-menu);
    box-shadow: var(--shadow-anx);
    color: var(--text-inactive);
    border-radius: 20px;
    transition: box-shadow var(--tr-e-out), color var(--tr-e-out), background var(--tr-e-out);
}
.box_search-indicator:hover{
    color: var(--text-active);
    box-shadow: var(--shadow-anx-active);
}
.box_search-indicator .indicator_count{
    text-align: center;
    font-size: 2rem;
}
.box_search-indicator p{
    font-size: .8rem;
}
  

@media screen and (max-width: 868px){
    .box_item{
        grid-template-areas:
          "search indicator"
          "form indicator";
      }
}
@media  screen and (max-width: 568px){
    .box_item{
      grid-template-areas:
        "search"
        "indicator"
        "form";
    }
}