@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
  font-family: "Open Sans", system-ui;
  font-optical-sizing: auto;
}

:root{
    --container-gap: 1rem;
    --tr-e-out: 0.3s ease-in-out;
    --tr-linear: 0.3s linear;
    
    /*----------- PALETTE COLORS  ----------------------------*/
    --clr-red-200: #fecacc;
    --clr-red-300: #fda4a8;
    --clr-red-400: #f97076;
    --clr-red-500: #f0434a;
    --clr-red-600: #dd252c;
    --clr-red-700: #ba1b21;
    --clr-red-800: #9a1a1f;
    --clr-red-900: #801c20;
    --clr-red-950: #450a0c;

    --clr-blue-50: #eff7ff;
    --clr-blue-100: #daecff;
    --clr-blue-200: #bedeff;
    --clr-blue-300: #91caff;
    --clr-blue-400: #5eacfc;
    --clr-blue-500: #388af9;
    --clr-blue-600: #226bee;
    --clr-blue-700: #1a56db;
    --clr-blue-800: #1c46b1;
    --clr-blue-900: #1c3e8c;
    --clr-blue-950: #09193e;
    --clr-blue-999: #141b34;
    
    --clr-white-50: #ffffff;
    --clr-white-100: #ededed;
    --clr-white-200: #dfdfdf;
    --clr-white-300: #c8c8c8;
    --clr-white-400: #b3b3b3;
    --clr-white-500: #999999;
    --clr-white-600: #888888;
    --clr-white-700: #7b7b7b;
    --clr-white-800: #676767;
    --clr-white-900: #545454;
    --clr-white-950: #3d3d3d;
    --clr-white-960: #303030;
    --clr-white-970: #1b1b1b;
    --clr-white-980: #141414;
    --clr-white-990: #000000;
  
    --clr-clay-50: #f5f6fa;
    --clr-clay-100: #e9ecf5;
    --clr-clay-200: #cfd7e8;
    --clr-clay-300: #a4b6d5;
    --clr-clay-400: #748fbc;
    --clr-clay-500: #5271a5;
    --clr-clay-600: #3f588a;
    --clr-clay-700: #344870;
    --clr-clay-800: #2e3e5e;
    --clr-clay-900: #2a3650;
    --clr-clay-950: #20283c;
    --clr-clay-990: #111520;
  }
  
  *, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline: none;
    border:0;
  }
  
  button{
    background: none;
  }
  button[type="button"],
  button[type="submit"]{
    cursor: pointer;
  }
  * > li{
    list-style: none;
    color:inherit;
    background:inherit;
  }
  * > a{
    text-decoration: none;
    color: inherit;
    background: inherit;
  }
  * > svg,
  * > path{
    pointer-events: none;
  }
  input{
    max-width: 100%;
  }
  div > span {
    display: block;
  }
  input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="gainsboro" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    transition: background var(--tr-e-out);
  }
  input:hover::-webkit-search-cancel-button{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>');
  }

/* PREFERENCIA DE COLOR DE TEMA */
@media (prefers-color-scheme: light){
  :root:not(.body_theme-light):not(.body_theme-dark){
      /* PRINCIPAL */
  --bg-body: var(--clr-white-50);
  --bg-primary: var(--clr-white-100);
  --bg-secondary: var(--clr-white-300);
  --bg-tertiary: var(--clr-white-400);
  --bg-full: var(--clr-white-200);
  --bg-card: var(--clr-white-100);
  --bg-invert-1: var(--clr-white-990);
  --bg-invert-2: var(--clr-white-950);
  --bg-invert-3: var(--clr-white-800);
  
  --text-primary: var(--clr-white-990);
  --text-secondary: var(--clr-white-970);
  --text-tertiary: var(--clr-white-950);
  --text-invert: var(--clr-white-50);
  --text-active: var(--clr-white-990);
  --text-inactive: var(--clr-white-500);
  --text-link: var(--clr-blue-600);

  --radius-btn: 10px;
  
  /* NAVIGATION */
  --clr-text-drop: var(--clr-white-800);
  --clr-text-drop-active: var(--bg-body);
  --bg-text-drop: var(--clr-blue-500);
  --bg-button: var(--clr-white-100);
  --bg-button-active: var(--clr-white-300);
  --clr-nav-item: var(--clr-white-500);
  --clr-nav-item-hover: var(--clr-blue-400);
  --clr-button: var(--clr-white-100);
  --clr-button-active: var(--clr-blue-500);
  --clr-icon: var(--clr-white-500);
  --clr-icon-active: var(--clr-white-970);
  --shadow-nav: 0 0 5px var(--clr-white-800);

  /* SCROLL */
  --bg-scroll: var(--clr-white-200);
  --clr-scroll: var(--clr-white-300);
  --clr-scroll-active: var(--clr-white-500);

  /* 404 */
  --clr-actions: var(--clr-blue-400);
  --clr-actions-active: var(--clr-white-50);
  --bg-actions: transparent;
  --bg-actions-active: var(--clr-blue-500);
  --bg-water: var(--clr-blue-400);
  --shadow-animate: -2px 3px 12px var(--clr-clay-500);

  /* TEXT-STYLE */
  --bg-card-style: var(--bg-body);
  --bg-btn-oncopy: var(--bg-secondary);
  --border-input: var(--clr-white-500);
  --shadow-card-style: 0 0 10px var(--clr-white-700);
  --shadow-card-style-2: 0 0 5px var(--clr-white-600);

  /* TEXT-CRUD */
  --bg-card-crud: var(--bg-primary);
  --shadow-card-crud: 0 0 10px var(--clr-white-700);
  --shadow-card-crud-2: 0 0 10px var(--clr-white-600);
  --shadow-card-crud-3: 0 0 10px var(--clr-white-500);
  --border-items: var(--text-inactive);

  /* ANEXOS UNTELS */
  --bg-anx: var(--clr-white-50);
  /* --bg-anx-active: var(--clr-white-960); */
  --shadow-form:
    -3px -3px 7px var(--clr-white-800),
    3px 3px 10px var(--clr-white-990);
    --shadow-form-active:
    -3px -3px 7px var(--clr-white-400),
    3px 3px 10px var(--clr-white-990);
  --shadow-anx:
    -1px -1px 2px var(--clr-white-100),
    -3px -3px 10px -2px var(--clr-white-50),
    1px 1px 1px var(--clr-white-100),
    3px 3px 10px var(--clr-white-400);
  --shadow-anx-active:
    -1px -1px 2px var(--clr-white-100),
    -3px -3px 10px var(--clr-white-200),
    1px 1px 1px var(--clr-white-300),
    3px 3px 10px -2px var(--clr-white-50);
  --shadow-indicator:
    inset -3px -3px 7px var(--clr-white-100),
    inset 3px 3px 7px var(--clr-white-300);
  --shadow-filter: inset -1px -1px 7px var(--clr-white-100), inset 3px 3px 7px -1px var(--clr-white-300);
  --shadow-filter-active: -1px -1px 4px var(--clr-white-100), 2px 2px 5px var(--clr-white-600);
  --border-clr-active: var(--clr-clay-400);
  --border-card-anx: 1px solid var(--clr-white-800);
  --border-card-anx-active: 1px solid var(--clr-white-400);
  --border-anexos: 1px solid var(--clr-white-600);
  /* DIRECTIVOS */
  --text-build-name: var(--clr-blue-600);
  --text-build-inactive: var(--clr-white-500);
  --text-build-active: var(--clr-white-800);
  --bg-card-menu: var(--clr-white-50);
  --bg-card-directivo: var(--clr-white-100);
  --clr-border-card-1: var(--clr-blue-800);
  --filter-props: opacity(.8) grayscale(80%);
  --shadow-card-animate: none;

  /* FOOTER */
  --bg-ts: #05050541;
  --bg-ts-active: #03030318;
   /* CONFIG */
   --bg-panel: var(--clr-white-100);
   --bg-menu: var(--clr-white-100);
   --bg-list-hover: var(--clr-white-200);
   --bg-list-active: var(--clr-white-300);
   --bg-box-toggle: var(--clr-white-300);
   --bg-box-toggle-inactive: var(--clr-white-600);
   --clr-list: var(--clr-white-800);
   --clr-list-hover: var(--clr-white-990);
   --clr-list-active: var(--clr-white-950);
  }
}

@media (prefers-color-scheme: dark){
  :root:not(.body_theme-light):not(.body_theme-dark){
  /* PRINCIPAL */
  --bg-body: var(--clr-white-970);
  --bg-primary: var(--clr-white-990);
  --bg-secondary: var(--clr-white-900);
  --bg-tertiary: var(--clr-white-800);
  --bg-full: var(--clr-white-970);
  --bg-card: var(--clr-white-960);
  --bg-invert-1: var(--clr-white-50);
  --bg-invert-2: var(--clr-white-200);
  --bg-invert-3: var(--clr-white-300);
  
  --text-primary: var(--clr-white-50);
  --text-secondary: var(--clr-white-300);
  --text-tertiary: var(--clr-white-400);
  --text-invert: var(--clr-white-950);
  --text-active: var(--clr-white-50);
  --text-inactive: var(--clr-white-500);
  --text-link: var(--clr-blue-600);

  --radius-btn: 10px;
  
  /* NAVIGATION */
  --clr-text-drop: var(--clr-white-400);
  --clr-text-drop-active: var(--bg-invert-1);
  --bg-text-drop: var(--clr-blue-500);
  --bg-button: var(--clr-white-900);
  --bg-button-active: var(--clr-white-200);
  --clr-nav-item: var(--clr-white-200);
  --clr-nav-item-hover: var(--clr-blue-400);
  --clr-button: var(--clr-white-100);
  --clr-button-active: var(--clr-blue-500);
  --clr-icon: var(--clr-white-300);
  --clr-icon-active: var(--clr-white-950);
  --shadow-nav: 0 0 5px var(--clr-white-800);

  /* SCROLL */
  --bg-scroll: var(--clr-white-300);
  --clr-scroll: var(--clr-white-500);
  --clr-scroll-active: var(--clr-white-700);

  /* 404 */
  --clr-actions: var(--clr-blue-400);
  --clr-actions-active: var(--clr-white-50);
  --bg-actions: transparent;
  --bg-actions-active: var(--clr-blue-500);
  --bg-water: var(--clr-blue-400);
  --shadow-animate: -2px 3px 12px var(--clr-clay-500);

  /* TEXT-STYLE */
  --bg-card-style: var(--bg-body);
  --bg-btn-oncopy: var(--bg-secondary);
  --border-input: var(--clr-white-500);
  --shadow-card-style: 0 0 10px var(--clr-white-700);
  --shadow-card-style-2: 0 0 5px var(--clr-white-600);

  /* TEXT-CRUD */
  --bg-card-crud: var(--bg-body);
  --shadow-card-crud: 0 0 10px var(--clr-white-700);
  --shadow-card-crud-2: 0 0 10px var(--clr-white-600);
  --shadow-card-crud-3: 0 0 10px var(--clr-white-500);
  --border-items: var(--text-inactive);

  /* ANEXOS UNTELS */
  --bg-anx: var(--clr-white-970);
  /* --bg-anx-active: var(--clr-white-960); */
  --shadow-form:
    -3px -3px 7px var(--clr-white-800),
    3px 3px 10px var(--clr-white-990);
  --shadow-form-active:
    -3px -3px 7px var(--clr-white-400),
    3px 3px 10px var(--clr-white-990);
  --shadow-anx:
    -1px -1px 2px var(--clr-white-800),
    -3px -3px 10px -2px var(--clr-white-900),
    1px 1px 1px var(--clr-white-990),
    3px 3px 10px var(--clr-white-990);
  --shadow-anx-active:
    -1px -1px 1px var(--clr-white-990),
    -3px -3px 3px var(--clr-white-980),
    1px 1px 3px var(--clr-white-950),
    3px 5px 10px -2px  var(--clr-white-960);
  --shadow-indicator:
    inset -3px -3px 7px var(--clr-white-950),
    inset 3px 3px 7px var(--clr-white-970);
    --shadow-filter: inset -1px -1px 3px grey, inset 2px 2px 5px black;
    --shadow-filter-active: -1px -1px 3px grey, 2px 2px 5px black;
  --border-clr-active: var(--clr-clay-400);
  --border-card-anx: 1px solid var(--clr-white-800);
  --border-card-anx-active: 1px solid var(--clr-white-400);
  --border-anexos: 1px solid var(--clr-white-600);
/* DIRECTIVOS */
  --text-build-name: var(--clr-blue-500);
  --text-build-inactive: var(--clr-white-500);
  --text-build-active: var(--clr-white-200);
  --bg-card-menu: #333333;
  --bg-card-directivo: #0f0f0f;
  --clr-border-card-1: var(--clr-blue-800);
  --filter-props: opacity(.7) grayscale(60%);
  --shadow-card-animate: -7px -7px 20px -15px var(--clr-border-card-1),
  5px 5px 20px -15px var(--clr-border-card-1);
 /* FOOTER */
 --bg-ts: #050505bd;
 --bg-ts-active: #0303034d;
 /* CONFIG */
 --bg-panel: var(--clr-white-960);
 --bg-menu: var(--clr-white-950);
 --bg-list-hover: var(--clr-white-800);
 --bg-list-active: var(--clr-white-900);
 --bg-box-toggle: var(--clr-white-960);
 --bg-box-toggle-inactive: var(--clr-white-900);
 --clr-list: var(--clr-white-500);
 --clr-list-hover: var(--clr-white-100);
 --clr-list-active: var(--clr-white-200);
  }
}

body.body_theme-dark{
  /* PRINCIPAL */
  --bg-body: var(--clr-white-970);
  --bg-primary: var(--clr-white-990);
  --bg-secondary: var(--clr-white-900);
  --bg-tertiary: var(--clr-white-800);
  --bg-full: var(--clr-white-970);
  --bg-card: var(--clr-white-960);
  --bg-invert-1: var(--clr-white-50);
  --bg-invert-2: var(--clr-white-200);
  --bg-invert-3: var(--clr-white-300);
  
  --text-primary: var(--clr-white-50);
  --text-secondary: var(--clr-white-300);
  --text-tertiary: var(--clr-white-400);
  --text-invert: var(--clr-white-950);
  --text-active: var(--clr-white-50);
  --text-inactive: var(--clr-white-500);
  --text-link: var(--clr-blue-600);

  --radius-btn: 10px;
  
  /* NAVIGATION */
  --clr-text-drop: var(--clr-white-400);
  --clr-text-drop-active: var(--bg-invert-1);
  --bg-text-drop: var(--clr-blue-500);
  --bg-button: var(--clr-white-900);
  --bg-button-active: var(--clr-white-200);
  --clr-nav-item: var(--clr-white-200);
  --clr-nav-item-hover: var(--clr-blue-400);
  --clr-button: var(--clr-white-100);
  --clr-button-active: var(--clr-blue-500);
  --clr-icon: var(--clr-white-300);
  --clr-icon-active: var(--clr-white-950);
  --shadow-nav: 0 0 5px var(--clr-white-800);

  /* SCROLL */
  --bg-scroll: var(--clr-white-300);
  --clr-scroll: var(--clr-white-500);
  --clr-scroll-active: var(--clr-white-700);

  /* 404 */
  --clr-actions: var(--clr-blue-400);
  --clr-actions-active: var(--clr-white-50);
  --bg-actions: transparent;
  --bg-actions-active: var(--clr-blue-500);
  --bg-water: var(--clr-blue-400);
  --shadow-animate: -2px 3px 12px var(--clr-clay-500);

  /* TEXT-STYLE */
  --bg-card-style: var(--bg-body);
  --bg-btn-oncopy: var(--bg-secondary);
  --border-input: var(--clr-white-500);
  --shadow-card-style: 0 0 10px var(--clr-white-700);
  --shadow-card-style-2: 0 0 5px var(--clr-white-600);

  /* TEXT-CRUD */
  --bg-card-crud: var(--bg-body);
  --shadow-card-crud: 0 0 10px var(--clr-white-700);
  --shadow-card-crud-2: 0 0 10px var(--clr-white-600);
  --shadow-card-crud-3: 0 0 10px var(--clr-white-500);
  --border-items: var(--text-inactive);

  /* ANEXOS UNTELS */
  --bg-anx: var(--clr-white-970);
  /* --bg-anx-active: var(--clr-white-960); */
  --shadow-form:
    -3px -3px 7px var(--clr-white-800),
    3px 3px 10px var(--clr-white-990);
  --shadow-form-active:
    -3px -3px 7px var(--clr-white-400),
    3px 3px 10px var(--clr-white-990);
  --shadow-anx:
    -1px -1px 2px var(--clr-white-800),
    -3px -3px 10px -2px var(--clr-white-900),
    1px 1px 1px var(--clr-white-990),
    3px 3px 10px var(--clr-white-990);
  --shadow-anx-active:
    -1px -1px 1px var(--clr-white-990),
    -3px -3px 3px var(--clr-white-980),
    1px 1px 3px var(--clr-white-950),
    3px 5px 10px -2px  var(--clr-white-960);
  --shadow-indicator:
    inset -3px -3px 7px var(--clr-white-950),
    inset 3px 3px 7px var(--clr-white-970);
    --shadow-filter: inset -1px -1px 3px grey, inset 2px 2px 5px black;
    --shadow-filter-active: -1px -1px 3px grey, 2px 2px 5px black;
  --border-clr-active: var(--clr-clay-400);
  --border-card-anx: 1px solid var(--clr-white-800);
  --border-card-anx-active: 1px solid var(--clr-white-400);
  --border-anexos: 1px solid var(--clr-white-600);
/* DIRECTIVOS */
  --text-build-name: var(--clr-blue-500);
  --text-build-inactive: var(--clr-white-500);
  --text-build-active: var(--clr-white-200);
  --bg-card-menu: #333333;
  --bg-card-directivo: #0f0f0f;
  --clr-border-card-1: var(--clr-blue-800);
  --filter-props: opacity(.7) grayscale(60%);
  --shadow-card-animate: -7px -7px 20px -15px var(--clr-border-card-1),
  5px 5px 20px -15px var(--clr-border-card-1);
 /* FOOTER */
 --bg-ts: #050505bd;
 --bg-ts-active: #0303034d;
 /* CONFIG */
 --bg-panel: var(--clr-white-960);
 --bg-menu: var(--clr-white-950);
 --bg-list-hover: var(--clr-white-800);
 --bg-list-active: var(--clr-white-900);
 --bg-box-toggle: var(--clr-white-960);
 --bg-box-toggle-inactive: var(--clr-white-900);
 --clr-list: var(--clr-white-500);
 --clr-list-hover: var(--clr-white-100);
 --clr-list-active: var(--clr-white-200);
}


body.body_theme-light{
 /* PRINCIPAL */
 --bg-body: var(--clr-white-50);
 --bg-primary: var(--clr-white-100);
 --bg-secondary: var(--clr-white-300);
 --bg-tertiary: var(--clr-white-400);
 --bg-full: var(--clr-white-200);
 --bg-card: var(--clr-white-100);
 --bg-invert-1: var(--clr-white-990);
 --bg-invert-2: var(--clr-white-950);
 --bg-invert-3: var(--clr-white-800);
 
 --text-primary: var(--clr-white-990);
 --text-secondary: var(--clr-white-970);
 --text-tertiary: var(--clr-white-950);
 --text-invert: var(--clr-white-50);
 --text-active: var(--clr-white-990);
 --text-inactive: var(--clr-white-500);
 --text-link: var(--clr-blue-600);

 --radius-btn: 10px;
 
 /* NAVIGATION */
 --clr-text-drop: var(--clr-white-800);
 --clr-text-drop-active: var(--bg-body);
 --bg-text-drop: var(--clr-blue-500);
 --bg-button: var(--clr-white-100);
 --bg-button-active: var(--clr-white-300);
 --clr-nav-item: var(--clr-white-500);
 --clr-nav-item-hover: var(--clr-blue-400);
 --clr-button: var(--clr-white-900);
 --clr-button-active: var(--clr-blue-500);
 --clr-icon: var(--clr-white-600);
 --clr-icon-active: var(--clr-white-970);
 --shadow-nav: 0 0 5px var(--clr-white-800);

 /* SCROLL */
 --bg-scroll: var(--clr-white-200);
 --clr-scroll: var(--clr-white-300);
 --clr-scroll-active: var(--clr-white-500);

 /* 404 */
 --clr-actions: var(--clr-blue-400);
 --clr-actions-active: var(--clr-white-50);
 --bg-actions: transparent;
 --bg-actions-active: var(--clr-blue-500);
 --bg-water: var(--clr-blue-400);
 --shadow-animate: -2px 3px 12px var(--clr-clay-500);

 /* TEXT-STYLE */
 --bg-card-style: var(--bg-body);
 --bg-btn-oncopy: var(--bg-secondary);
 --border-input: var(--clr-white-500);
 --shadow-card-style: 0 0 10px var(--clr-white-700);
 --shadow-card-style-2: 0 0 5px var(--clr-white-600);

 /* TEXT-CRUD */
 --bg-card-crud: var(--bg-primary);
 --shadow-card-crud: 0 0 10px var(--clr-white-700);
 --shadow-card-crud-2: 0 0 10px var(--clr-white-600);
 --shadow-card-crud-3: 0 0 10px var(--clr-white-500);
 --border-items: var(--text-inactive);

 /* ANEXOS UNTELS */
 --bg-anx: var(--clr-white-50);
 /* --bg-anx-active: var(--clr-white-960); */
 --shadow-form:
   -3px -3px 7px var(--clr-white-800),
   3px 3px 10px var(--clr-white-990);
   --shadow-form-active:
   -3px -3px 7px var(--clr-white-400),
   3px 3px 10px var(--clr-white-990);
 --shadow-anx:
   -1px -1px 2px var(--clr-white-100),
   -3px -3px 10px -2px var(--clr-white-50),
   1px 1px 1px var(--clr-white-100),
   3px 3px 10px var(--clr-white-400);
 --shadow-anx-active:
   -1px -1px 2px var(--clr-white-100),
   -3px -3px 10px var(--clr-white-200),
   1px 1px 1px var(--clr-white-300),
   3px 3px 10px -2px var(--clr-white-50);
 --shadow-indicator:
   inset -3px -3px 7px var(--clr-white-100),
   inset 3px 3px 7px var(--clr-white-300);
 --shadow-filter: inset -1px -1px 7px var(--clr-white-100), inset 3px 3px 7px -1px var(--clr-white-300);
 --shadow-filter-active: -1px -1px 4px var(--clr-white-100), 2px 2px 5px var(--clr-white-600);
 --border-clr-active: var(--clr-clay-400);
 --border-card-anx: 1px solid var(--clr-white-800);
 --border-card-anx-active: 1px solid var(--clr-white-400);
 --border-anexos: 1px solid var(--clr-white-600);
/* DIRECTIVOS */
 --text-build-name: var(--clr-blue-600);
 --text-build-inactive: var(--clr-white-500);
 --text-build-active: var(--clr-white-800);
 --bg-card-menu: var(--clr-white-50);
 --bg-card-directivo: var(--clr-white-100);
 --clr-border-card-1: var(--clr-blue-800);
 --filter-props: opacity(.8) grayscale(80%);
 --shadow-card-animate: none;

 /* FOOTER */
 --bg-ts: #05050541;
 --bg-ts-active: #03030318;
  /* CONFIG */
  --bg-panel: var(--clr-white-100);
  --bg-menu: var(--clr-white-100);
  --bg-list-hover: var(--clr-white-200);
  --bg-list-active: var(--clr-white-300);
  --bg-box-toggle: var(--clr-white-300);
  --bg-box-toggle-inactive: var(--clr-white-600);
  --clr-list: var(--clr-white-800);
  --clr-list-hover: var(--clr-white-990);
  --clr-list-active: var(--clr-white-950);
}
::-webkit-scrollbar{
  background: var(--bg-scroll);
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: var(--clr-scroll);
  transition: background .3s var(--tr-e-out);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: var(--clr-scroll-active);
}
::-webkit-scrollbar-track{
  display: none;
}