.main_not-found{
    position: relative;
    min-height: calc(100dvh - 6rem);
}
.not--found{
    max-width: 1300px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.error_description{
    display: flex;
    flex-direction: column;
}
.error_description *{
    transition: color var(--tr-e-out);
}
.error_type{
    color: var(--text-primary);
    font-size: 3rem;
}
.error_content h2{
    margin: 2rem 0 .5rem;
    color: var(--text-secondary);
}
.error_content p{
    color: var(--text-secondary);
    line-height: 2rem;
    text-wrap: pretty;
}
.error_content p a{
    color: var(--text-link);
    font-weight: 400;
    font-style: italic;
    font-display: inherit;
}
.error_actions{
    margin-top: 3rem;
    padding: 1rem 0;
    display: flex;
    gap: 5rem;
}
.error_actions .error_btn{
    --clr: var(--clr-actions);
    --bg: var(--bg-actions);
    --border: var(--clr-actions);
    padding: 1rem 3rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-wrap: nowrap;
    font-weight: 600;
    background: var(--bg);
    color: var(--clr);
    border: 1px solid var(--border);
    border-radius: 50px;
    transition: color var(--tr-linear), background var(--tr-linear), border-color var(--tr-linear);
}
.error_actions .error_btn:hover{
    --clr: var(--clr-actions-active);
    --bg: var(--bg-actions-active);
}

.error_image{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.support{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2em;
    background: var(--bg-water);
    overflow: hidden;
    box-shadow: var(--shadow-animate);
    animation: animate 7s linear infinite backwards;
    transition: width var(--tr-e-out), height var(--tr-e-out);
}
.support:after{
    content: '';
    position: absolute;
    background-image: url(../../assets/404-v1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
@keyframes animate {
    0%, 100%{
        border-radius: 29% 100% 37% 79% / 47% 82% 89% 70% ;
    }
    35%{
        border-radius: 57% 83% 90% 45% / 76% 71% 69% 33% ;
    }
    65%{
        border-radius: 87% 43% 90% 45% / 46% 61% 89% 83% ;
    }
}

@media screen and (max-width: 1008px) {
    .error_type{
        font-size: 2rem;
    }
    .error_actions{
        gap: 3rem;
    }
    .support{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 808px) {
    .not--found{
        grid-template-columns: 1fr;
    }
    .error_actions{
        gap: 2rem;
    }
    .error_actions .error_btn{
        padding: .5rem 1.5rem;
    }
    .error_image{
        margin-top: 2rem;
        padding: 1rem 0;
    }
    .support{
        width: 250px;;
        height: 250px;;
    }
}