.navigation_title{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .navigation_title .title_page{
    position: relative;
    padding: 0 .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    --clr: var(--clr-clay-100);
    --size-icon : 40px;
    --clr-btn: var(--clr-clay-300);
    color: var(--clr);
  }
    .title_page:before{
      content: '';
      position: absolute;
      height: 90%;
      width: 4px;
      left: 0;
      border-radius: 20px;
      top: 0;bottom: 0;margin-block: auto;
      background: var(--clr);
    }
    .title_page span{
      width: 100%;
      display: block;
      text-align: left;
      font-weight: bolder;
      font-size: 1.7em;
      letter-spacing: 5px;
      font-family: roboto-medium, system-ui;
    }
  
  .navigation_ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: var(--container-gap);
    color: var(--clr-nav-item)
  }
  .navigation_li{
    position: relative;
    padding: 0 0 5px;
  }
  .navigation_li-theme{
    position: relative;
    top: -3px;
    display: grid;
    border-radius: 10px;
    cursor: pointer;
    --clr-btn: var(--clr-white-300);
  }
  .navigation_li-theme:hover .navigation_theme-btn{
    background: var(--clr-clay-600);
    --clr-btn: var(--clr-white-100);
  }
  
  .navigation_li .navigation_li-name{
    display: block;
    padding: .5rem 1rem .5rem 5px;
    position: relative;
    color: var(--clr-nav-item);
    transition: color var(--tr-e-out);
    pointer-events: none;
  }
  .navigation_li .navigation_li-name:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    /* right:0; */
    height: 2px;
    width: 0;
    margin: auto;
    background: var(--clr-nav-item);
    transition: width var(--tr-e-out), background var(--tr-e-out);
  }
  .navigation_li:hover .navigation_li-name{
    --clr-nav-item: var(--clr-nav-item-hover);
  }
  .navigation_li:hover .navigation_li-name::before{
    width: 100%;
  }
  .navigation_li .dropdown_ul{
    display: none;
    position: absolute;
    z-index: 10;
    top: calc(100% - 1px);
    left: 0;
    width: 15rem;
    padding: .5rem;
    border-radius: 10px;
    background: var(--clr-clay-900);
    box-shadow: 0 0 5px #2b254dc0;
  }
  .navigation_li:hover .dropdown_ul{
    display: grid;
    /* gap: .5rem; */
  }
  .dropdown_ul .dropdown_li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: background var(--tr-e-out);
    --clr: #bdbcbc;
    --clr-link: var(--clr);
    --size-icon: 20px;
    --clr-btn: var(--clr);
  }
  .dropdown_ul .dropdown_li:hover{
    background-color: var(--clr-clay-950);
    --clr: #ffffff;
  }
  .dropdown_li .dropdown_li-clr{
    position: relative;
    width: var(--size-icon);
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    pointer-events: none;
  }
  .dropdown_li .dropdown_li-name{
    text-align: left;
    padding: .7rem;
    font-size: .8rem;
    color: var(--clr-link);
    transition: color var(--tr-e-out);
    pointer-events: none;
  }
  .navigation_li-theme .navigation_theme-btn{
    display: flex;
    align-items: center;
    gap: 2px;
    padding: .2rem .5rem;
    border-radius: inherit;
    background: var(--clr-clay-900);
    transition: background var(--tr-e-out);
    pointer-events: none;
    --size-icon: 25px;
  }
  .navigation_li-theme .dropdown_li-theme{
    display: none;
    position: absolute;
    top: 33px;
    background: var(--clr-clay-800);
    border-radius: 10px;
    padding: .5rem;
  }
  .navigation_li-theme--active .dropdown_li-theme{
    display: block;
  }
  .navigation_theme-btn .navigation_li-name{
    pointer-events: none;
    color: var(--clr-btn);
    transition: color var(--tr-e-out);
  }
  .dropdown_li-theme .dropdown_theme-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: .8rem;
    --size-icon: 20px;
    --clr-btn: var(--clr-white-400);
    color: var(--clr-btn);
    transition: background var(--tr-e-out), color var(--tr-e-out);
  }
  .dropdown_theme-item:hover{
    background: var(--clr-clay-950);
    --clr-btn: var(--clr-white-100);
  }
  .dropdown_theme-item.dropdown_theme-item--active{
    background: var(--clr-clay-990);
    --clr-btn: var(--clr-white-100);
  }
  .dropdown_li-theme span{
    pointer-events: none;
  }