.navigation_title{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    --size-menu: 45px;
  }
  .navigation_title .title_page{
    position: relative;
    padding: 0 .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    --clr: var(--text-active);
    color: var(--clr);
    font-size: 1.1rem;
  }
    .title_page:before{
      content: '';
      position: absolute;
      height: 90%;
      width: 4px;
      left: 0;
      border-radius: 20px;
      top: 0;bottom: 0;margin-block: auto;
      background: var(--clr);
      transition: background var(--tr-e-out);
    }
    .title_page span{
      width: 100%;
      display: block;
      text-align: left;
      font-weight: bolder;
      font-size: 1.7em;
      letter-spacing: 5px;
      font-family: roboto-medium, system-ui;
      transition: color var(--tr-e-out);
    }
    .navigation_list{
      display: grid;
    }

  .navigation_ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: var(--container-gap);
    color: var(--clr-nav-item);
  }
  .navigation_li{
    position: relative;
    padding: 0 0 5px;
  }
  .navigation_li-theme{
    position: relative;
    top: -3px;
    display: grid;
    border-radius: 10px;
    background: var(--bg-button);
    --clr-btn: var(--clr-icon);
    color: var(--clr-btn);
    transition: background var(--tr-e-out), color var(--tr-e-out);
  }
  .navigation_li-theme:hover{
    --clr-btn: var(--clr-icon-active);
    background: var(--bg-button-active);
  }
  .navigation_li-theme .navigation_theme-btn{
    display: flex;
    align-items: center;
    gap: 2px;
    padding: .2rem .5rem;
    border-radius: inherit;
    pointer-events: none;
    --size-icon: 20px;
  }
  .navigation_li-theme .dropdown_li-theme{
    width: max-content;
    display: none;
    position: absolute;
    top: 33px;
    z-index: 2;
    background: var(--bg-primary);
    box-shadow: var(--shadow-nav);
    border-radius: 10px;
    padding: .5rem;
  }
  .navigation_li-theme--active .dropdown_li-theme{
    display: grid;
    gap: 2px;
  }
  .navigation_theme-btn .navigation_li-name{
    pointer-events: none;
    color: var(--clr-btn);
    transition: color var(--tr-e-out);
  }
  .dropdown_li-theme .dropdown_theme-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: .3rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: .8rem;
    --size-icon: 20px;
    --clr-btn: var(--clr-icon);
    color: var(--clr-btn);
    transition: background var(--tr-e-out), color var(--tr-e-out);
  }
  .dropdown_theme-item:hover,
  .dropdown_theme-item.dropdown_theme-item--active:hover{
    background: var(--bg-invert-1);
    --clr-btn: var(--text-invert);
  }
  .dropdown_theme-item.dropdown_theme-item--active{
    background: var(--bg-invert-2);
    --clr-btn: var(--text-invert);
  }
  .dropdown_li-theme span{
    pointer-events: none;
  }
  
  .navigation_li .navigation_li-name{
    display: block;
    padding: .5rem 1rem .5rem 5px;
    position: relative;
    color: var(--clr-nav-item);
    transition: color var(--tr-e-out), background var(--tr-e-out);
    pointer-events: none;
  }
  .navigation_li .navigation_li-name:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    /* right:0; */
    height: 2px;
    width: 0;
    margin: auto;
    background: var(--clr-nav-item);
    transition: width var(--tr-e-out);
  }
  .navigation_li:hover .navigation_li-name{
    --clr-nav-item: var(--clr-nav-item-hover);
  }
  .navigation_li:hover .navigation_li-name::before{
    width: 100%;
  }
  .navigation_li-name.nav_expand{
    display: flex;
    align-items: center;
    gap: 2px;
    --size-icon: 25px;
    --clr-btn: var(--clr-nav-item)
  }
  .navigation_li .dropdown_ul{
    display: none;
    position: absolute;
    z-index: 10;
    top: calc(100% - 1px);
    left: 0;
    width: max-content;
    max-width: 15rem;
    padding: .5rem;
    border-radius: 10px;
    background: var(--bg-body);
    box-shadow: var(--shadow-nav);
  }
  .navigation_li:hover .dropdown_ul{
    display: grid;
  }
  .dropdown_ul .dropdown_li,
  .dropdown_ul .dropdown_li[data-hidden="false"]{
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    border-radius: 5px;
    transition: background var(--tr-e-out);
    --size-icon: 17px;
    --clr: var(--clr-text-drop);
    --clr-link: var(--clr);
    --clr-btn: var(--clr);
  }
  .dropdown_ul .dropdown_li[data-hidden="true"]{
    display: none;
  }
  .dropdown_ul .dropdown_li:hover{
    background-color: var(--bg-text-drop);
    --clr: var(--clr-text-drop-active);
  }
  .dropdown_li .dropdown_li-clr{
    position: relative;
    width: var(--size-icon);
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    pointer-events: none;
  }
  .dropdown_li .dropdown_li-name{
    text-align: left;
    padding: .7rem;
    font-size: .8rem;
    color: var(--clr-link);
    transition: color var(--tr-e-out);
    pointer-events: none;
  }

  @media screen and (max-width: 868px){
    .navigation_container{
      flex-direction: column;
    }
    .navigation_title{
      width: 100%;
    }
    .navigation_title .btn_show{
      visibility: visible;
      transform: scale(1);
    }
    .navigation_list{
      display: none;
      padding: 0;
      transition: padding .3s linear, margin .3s linear;
    }
    .navigation_list.navigation_list--active{
      display: grid;
      margin-top: 2rem;
      padding: 1rem;
    }
    .navigation_list--active .navigation_ul{
      overflow: visible;
    }
  
    .navigation_ul{
      overflow: hidden;
      flex-direction: column;
    }
  }