.content_title{
    padding: 0 0 2rem;
  }
  .content_text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    --size-icon: 35px;
  }
  .content_text .section_title{
    padding: 2rem 3rem;
    box-shadow: var(--shadow-card-style);
    --clr-txt: var(--text-tertiary);
    --opacity: opacity(.4);
  }
  .section_title:hover{
    --opacity: opacity(.6);
    --clr-txt: var(--text-primary);
  }

  .section_title p[data-for="txt-3"] code{
    color: var(--text-link);
  }
  .section_title p[data-for="txt-3"] a{
    transition: color var(--tr-e-out);
    font-style: italic;
    font-weight: 500;
  }
  .content_image{
    display: block;
    height: 100%;
    width: 100%;
    padding: 1rem 0 0 0;
  }
  .content_image-logo{
    width: 100%;
    aspect-ratio: 20/9;
    filter: var(--opacity);
    transition: filter var(--tr-e-out);
  }
  
  .content_text .text_input{
    border: 1px solid var(--border-input);
  }
  .content_text .text_input--active{
    animation: bordered .3s infinite;
  }
  .content_text .form_output{
    --font: 32px;
    padding: 7px;
    background: var(--bt-primary);
    color: var(--text-secondary);
    border: 1px solid var(--text-secondary);
    font-size: 13px;
    line-height: 13px;
    width: 100%;
    min-height: var(--font);
    height: var(--font);
    max-height: calc(var(--font) * 4);
    overflow: hidden hidden;
    resize: none;
    white-space: pre-wrap;
    transition: height var(--tr-e-out);
  }
  .form_output.form_output--scrolling{
    overflow-y: auto;
  }

  /* MODAL DE CONFIGURACION */
  .content_text .form_text-process{
    position: relative;
  }
  .content_text .config-style-group{
    position: absolute;
    bottom: 20px;
    right: calc(50px + 5px);
    z-index: 2;
    display: grid;
    gap: .5em;
    padding: var(--container-gap);
    border-radius: 10px 10px 0 10px;
    box-shadow: var( --shadow-card-style-2);
    background: var(--bg-card);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform var(--tr-e-out);
    --size-icon: 30px;
  }
  .content_text #btn_styles.btn_expand--active + .config-style-group{
    transform: scale(1); 
  }
  .content_text .config-style-item{
    /* cambiar por funccionalidades en JS */
    display: none;
    gap: .5em;
    padding: .5em;
  }
  @keyframes bordered{
    0%, 100%{
      border-color: var(--border-pasive);
    }
    50%{
      border-color: var(--border-active);
    }
  }

  @media screen and (max-width: 1028px) {
    .content_text{
      grid-template-columns: 2fr 1fr;
    }
  }
  @media screen and (max-width: 768px) {
    .content_text{
      grid-template-columns: 1fr;
    }
  }