.content_office{
    width: 100%;
}

.office_item .office_result{
    --card-w: 15.625rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--card-w), 100%), 1fr));
    gap: 1rem;
    row-gap: 1.5rem;
    padding: 2rem 0 1rem;
}
    .office_result-card{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        gap: .7rem;
        overflow: hidden;
        max-width: var(--card-w);
        width: 100%;
        height: auto;
        background: var(--bg-primary);
        box-shadow: var(--shadow-anx);
        --bg-anexo: var(--bg-primary);
        --clr-text: var(--text-inactive);
        opacity: .7;
        border-radius: 10px;
        transition: background var(--tr-e-out), box-shadow .1s ease-out, scale .1s ease-out, opacity var(--tr-e-out);
    }
    .office_result-card:hover{
        --clr-text: var(--text-primary);
        box-shadow: var(--shadow-anx-active);
        scale: 1.05;
        opacity: 1;
    }
    .office_result-card .anexo{
        font-size: 2rem;
        font-weight: bolder;
        padding: 1rem;
        color: var(--clr-text);
        border-radius: 10px;
        box-shadow: var(--shadow-indicator);
        transition: border var(--tr-e-out);
    }
    .office_result-card .oficina{
        font-size: .9rem;
        text-wrap: balance;
        text-overflow: ellipsis;
        border-radius: 10px;
        color: var(--clr-text);
        transition: color var(--tr-linear);
    }
    .office_result-card .not_found{
        font-size: 1.2rem;
        color: var(--text-inactive);
    }

@media screen and (max-width: 868px){
  .office_result-card{
    margin: auto;
  }
}
@media  screen and (max-width: 568px){
    .office_item .office_result{
      --card-w: 150px;
    }
    .office_result-card{
      flex-direction: column;
      text-align: center;
    }
}